<html>

<head>
    <title>Flask loyiha</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <br><br>
    
    <nav>
        <ul>
            <li class="p10"><a href="{{url_for('talaba')}}">talabalar</a></li>            
            <li class="m10"><a href="{{url_for('dustlarim')}}">dustlarim</a></li>
            <li class="m10"><a href="{{url_for('baho')}}">baho</a></li>           
            
        </ul>
    </nav><br>
</body>
</html> 